<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rechner der finanziellen Freiheit</title>
</head>
<body>
<h1>{{ ansprache }}</h1>
<form action="index.php?route=calculateFreedom" method="post" name="calculate-freedom-form">
    <p>{{ name }} <input type="text" name="surname"></p>
    <p>Vorname <input type="text" name="firstname"></p>
    <p>Fixkosten <input type="text" name="fixCosts"></p>
    <p>Startkapital <input type="text" name="startCapital"></p>
    <p>Monatsrate <input type="text" name="monthlyPayment"></p>
    <p>Zinsel<input type="text" name="rental"></p>
    <input type="submit" name="submit" value="Senden">
</form>
</body>
</html>