<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rechner der finanziellen Freiheit</title>
</head>
<body>
<h1>Hallo, hier ist das Ergebnis für {{ user.getFirstname }} {{ user.getSurname }}</h1>
<p>Du sparst {{ savedMoneyPerYear }} Euro</p>
<p>Du brauchst {{ calculateFreedom }} Jahre.</p>

</body>
</html>